<div>
  <table>
    <tr>
      <td>Valor a buscar:</td>
      <td>
        <input
          type="text"
          value="{{ getValorBusqueda }}"
          (input)="guardarValorBusqueda($event)"
        />
      </td>
    </tr>
    <tr>
      <td id="tdBoton" colspan="2">
        <input type="button" value="Buscar" (click)="getProductos()" />
      </td>
    </tr>
  </table>

  <div *ngIf="productosBusqueda.length > 0; else noHayDatos">
    <table class="estiloTabla">
      <thead>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Descripcion</th>
        <th>Precio</th>
      </thead>
      <tbody>
        <tr
          class="estiloFilaTabla"
          *ngFor="let productoBusqueda of productosBusqueda"
        >
          <td class="estiloColumnaTabla">{{ productoBusqueda.nombre }}</td>
          <td class="estiloColumnaTabla">{{ productoBusqueda.marca }}</td>
          <td class="estiloColumnaTabla">{{ productoBusqueda.descripcion }}</td>
          <td class="estiloColumnaTabla">{{ productoBusqueda.precio }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noHayDatos>
    <div>
      <h2>No hay datos para la busqueda</h2>
    </div>
  </ng-template>
</div>
